[submodule "3rdparty/opencv-4.11.0"]
	path = 3rdparty/opencv-4.11.0
	url = https://github.com/opencv/opencv
[submodule "3rdparty/dlib-19.24.6"]
	path = 3rdparty/dlib-19.24.6
	url = https://github.com/davisking/dlib
